
body { 
    background: url(/static/images/starwars.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 14px;
}

#mytable{
  color:white;
  font-size: 14px;
  margin-top: 10px;
}

tr {
  padding: 10px
}

h1 {
  color:white;
  font-size: 30px;
}

thead {
  background:white;
  font-size: 20px;
}

.modal-content {
  width:800px;
}



