<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ title }} </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
        
    </head>
    <body>
        <h2>Are you lost in the Univers? This page is not exist</h2>
        <h2>{{ error }}</h2>
        <a href="/" id="backtohome">Go back Home</a>
    </body>
</html>